body {
    background-size: cover;
    background-position: center;
}

.heading {
    width: 100%;
    top: 0;
    text-align: left;
}

.heading button {
    float: right;
    border: 1px solid white;
}

.heading h1 {
    display: inline;
    font-size: 25px;
}

#play, #status, #restart {
    font-size: 20px;
}
.modal-dialog {
    width: 50%;
}
h4{
    position: sticky;
    margin: 0;
    color: grey;
    background-color: white;
    width: 100%;
    font-size: 15px;
}
canvas{
    border-width: 5px;
    border-radius: 5px;
    border-color: blueviolet;
}